/* ==================================================== */
/* ! Reset Friggin' Everything, and setup some basics   */
/* ==================================================== */

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:''; content:none; }

/* remove the silly firefox outline on links */
a:focus { outline:none; border:none; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse:collapse; border-spacing:0; }

/* P.I.E. FLOAT CLEARING
See http://www.positioniseverything.net/easyclearing.html */
.clearfix:after { content:"."; font-size:0; clear:both; height:0; visibility:hidden; display:block; }
.clearfix { display:inline-block; 
/* Fixes IE/Mac */
}

/* Hides from IE-mac \*/
* html .clearfix { height:1%; }
.clearfix { display:block; }

/* End hide from IE-mac */

/* Fixes IE's ridiculously stupid default image-scaling to a smoother, bicubic resizing. The way a human with working eyeballs would prefer. */
* img { -ms-interpolation-mode:bicubic; }

/* For horizontally-centered lists */
ul.centerlist { position:relative; text-align:center; }
ul.centerlist li { display:0; display:0; display:inline-block; display:inline; _display:inline; margin:5px 8px; position:relative; text-align:center; }

/* For cross-browser inline-blocks */
.ib { display: -moz-inline-box; display: -moz-inline-stack; -moz-box-orient: vertical; display:inline-block; *display: inline; _display:inline; position:relative; vertical-align: middle; }


/* ==================================================== */
/* ! Uncomment to debug and find unclosed/broken tags   */
/* ==================================================== */

/*

* { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue }

*/



/* ========== */
/* ! Colors   */
/* ========== */

/*

brown :
#3b2a1c

faded blue/green :
#91b0b3

blue-grey :
#3f4445

orange/link :
#de702b

light orange/brow (visited links) :
#c49577

*/

/* ========= */
/* ! Fonts   */
/* ========= */


/* ========== */
/* ! Basics   */
/* ========== */

body {
	background: #3b2a1c;
	color: #3f4445;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, "Liberation Sans", sans-serif;
	font-size: 62.5%;
	text-align: center;
}

a {
	color: #de702b;
}

a:hover,
a:visited:hover {
	color: #333;
}

a:active,
a:hover:active,
a:visited:active {
	color: #000;
}

a:visited {
	color: #c49577;
}

#container {
	margin: 0 auto;
	text-align: left;
	width: 960px;
}

.modal {
	display: none;
}


/* ========== */
/* ! Header   */
/* ========== */

#header {
	background: #3f4445;
	position: relative;
}

#header h1#logo a {
	background: url(../images/logo.png) left top no-repeat;
	display: block;
	height: 60px;
	text-indent: -999em;
	width: 200px;
}

#header #subhead {
	background: #91b0b3 url(../images/sep_header.png) left top repeat-x;
}

ul#categories {
	margin-left: 1.2em;
}

ul#categories li {
	float: left;
	position: relative;
	z-index: 99;
}

ul#categories li a {
	color: #3f4445;
	display: block;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, "Liberation Sans", sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	margin: 0.4em 0.2em;
	padding: 0.6em 0.75em;
	text-decoration: none;
	text-shadow: #a5c8cb 1px 1px 0;
}

ul#categories li a:hover,
ul#categories li a.hovered {
	background: #3f4445;
	color: #fff;
	text-shadow: #3f4445 1px 1px 0;
}

ul#categories li a.current {
	background: #fff;
	color: #000;
	text-shadow: none;
}

ul#categories ul.submenu {
	background: #91b0b3;
	border: 1px solid #3f4445;
	border-width: 0 1px;
	display: none;
	float: none;
	left: 2px;
	position: absolute;
	top: 3.1em;
	width: 130px;
	z-index: 100;
}

ul#categories ul.submenu li {
	float: none;
}

ul#categories ul.submenu li a {
	border-bottom: 1px solid #3f4445;
	font-size: 1.1em;
	margin: 0;
}

ul#categories ul.submenu li a:hover {
	background: #3f4445;
	color: #eee;
}

ul#loggedout,
ul#loggedin {
	position: absolute;
	right: 5px;
	top: 8px;
}

ul#loggedout li,
ul#loggedin li {
	border-right: 1px solid #91b0b3;
	float: left;
	padding: 0 0.5em;
}

ul#loggedout li#btn-signup,
ul#loggedin li#btn-logout {
	border: none;
}

ul#loggedout li a,
ul#loggedin li a {
	color: #91b0b3;
	display: block;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, "Liberation Sans", sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	height: 1.6em;
	line-height: 1.6em;
	padding: 0 1em;
	text-decoration: none;
}

ul#loggedout li a:hover,
ul#loggedin li a:hover {
	background: #fff;
	color: #3f4445;
}



/* =============== */
/* ! Main Basics   */
/* =============== */

#main {
	margin: 6em 0 3em;
	z-index: 1;
}

#inner {
	background: #fff url(../images/bg_maingrad.png) left top repeat-x;
	padding: 0 0 0 1em;
}

#maincol {
	float: left;
	width: 630px;
}

.onlycol {
	width: 940px !important;
}

#maincol h2.title {
	border-bottom: 1px solid #91b0b3;
	font-size: 1.8em;
	margin: 1.1em 2em 0 0.8em;
	padding-bottom: 0.2em;
	text-shadow: #fff 1px 1px 0;
}

div.modal h2.title {
	border-bottom: 1px solid #91b0b3;
	font-size: 1.8em;
	margin: 1.1em 2em 0 0.8em;
	padding-bottom: 0.2em;
	text-shadow: #fff 1px 1px 0;
}

#maincol h3#time {
	width: 100%;
	padding-bottom: 5px;
}
#maincol h3.subtitle {
	font-size: 1.2em;
	margin-left: 2em;
}

#maincol span#description {
	font-size: 1.2em;
	line-height: 1.3em;
}

#maincol h6.footer {
	font-size: 0.9em;
	font-weight: bold;
}

#sidecol {
	float: right;
	width: 300px;
}


/* =========== */
/* ! Timebar   */
/* =========== */

#timeline {
	background: #fff url(../images/bg_timebar.png) left bottom repeat-x;
	margin: 0 0 0 25px;
	padding: 0 15px;
	position: relative;
	width: 700px;
}

ul#timeoptions {
	width: 630px;
}

ul#timeoptions li {
	float: left;
}

ul#timeoptions li a {
	color: #91b0b3;
	font-size: 1.2em;
	display: block;
	padding: 1em 1.2em;
	text-decoration: none;
}

ul#timeoptions li a:hover {
	color: #3f4445;
}

ul#timeoptions li a.current,
ul#timeoptions li a.current:hover {
	background: #91b0b3;
	color: #fff;
	font-weight: bold;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, "Liberation Sans", sans-serif;
}

#timeline p a#rangeselect {
	color: #de702b;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, "Liberation Sans", sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	padding: 1em 1.2em;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
}

#timeline p a#rangeselect:hover {
	color: #333;
}

ul#suboptions {
	clear: both;
	width: 800px;
}

ul#suboptions li {
	float: left;
}

ul#suboptions li span,
ul#suboptions li a {
	font-size: 1.0em;
	display: block;
	padding: 0.6em 1.0em;
	text-decoration: none;
}

ul#suboptions li a {
	color: #de702b;
}


ul#suboptions li a:hover {
	color: #333;
}

ul#suboptions li a.current,
ul#suboptions li a.current:hover {
	background: #91b0b3;
	color: #fff;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, "Liberation Sans", sans-serif;
	font-weight: bold;
}


/* ================= */
/* ! Listing Page    */
/* ================= */

#maincol h2#listing_title {
	border-bottom: 1px solid #91b0b3;
	font-size: 1.8em;
	margin: 1.1em 2em 0 0.8em;
	padding-bottom: 0.2em;
	text-shadow: #fff 1px 1px 0;
}

/* ================= */
/* ! Entry Listing   */
/* ================= */

div.entry {
	margin: 4em 0.5em;
}


div.entry div,
div.entry h3,
div.entry ul {
	float: right;
	width: 525px;
}

div.entry div * {
	float: none;
	width: auto;
}

div.entry div.description {
	font-size: 1.2em;
	line-height: 1.3em;
}

div.entry h3 {
	margin-bottom: 0.8em;
}

div.entry h3 a {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, "Liberation Sans", sans-serif;
	font-size: 1.8em;
	font-weight: bold;
	text-decoration: none;
}

div.entry h3 a:hover {
	text-decoration: underline;
}

div.entry h4 {
	font-size: 1.1em;
	margin-bottom: 0.8em;
}

div.entry h4 span {
	font-weight: normal;
}

div.entry ul.actionlinks {
	margin: 0.5em 0 0 10px;
}

div.entry ul.actionlinks li {
	float: left;
	font-size: 1.2em;
	border-right: 1px solid #91b0b3;
	padding: 0 0.8em;
}

ul.actionlinks li a {
	display: block;
	height: 20px;
	text-decoration: none;
}

ul.actionlinks li a:hover {
	text-decoration: underline;
}

ul.actionlinks li a.attendthis {
	background: url(../images/icons/plus.png) 0 0 no-repeat;
	padding-left: 15px;
}

ul.actionlinks li a.attending {
	background: url(../images/icons/person.png) 0 0 no-repeat;
	padding-left: 20px;
}

ul.actionlinks li a.commentsnum {
	background: url(../images/icons/comment.png) 0 0 no-repeat;
	padding-left: 20px;
}

div.entry div.likebox,
div#event_details div.likebox {
	background: #fff;
	border: 1px solid #3f4445;
	float: left;
	margin: 0 12px 0 0;
	text-align: center;
	width: 8em;
}

div.likebox span.numlikes {
	display: block;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, "Liberation Sans", sans-serif;
	font-size: 24px;
	font-weight: bold;
	padding: 5px 0 0 0;
}

div.likebox span.xtra {
	display: block;
	font-size: 10px;
}

div.likebox a.likeit {
	background: #3f4445 url(../images/icons/star.png) 8px 0.4em no-repeat;
	color: #fff;
	display: block;
	font-size: 1.3em;
	margin-top: 0.5em;
	padding: 0.5em 0 0.5em 27px;
	text-align: left;
	text-decoration: none;
}

div.likebox a.likeit:hover {
	background-color: #91b0b3;
}


/* ========================== */
/* ! Side Column, Main Page   */
/* ========================== */

div.sidebox {
	margin: 2em 15px 0 0;
}

div.sidebox h2 {
	border-bottom: 1px solid #91b0b3;
	font-size: 1.8em;
	margin: 0 0 0.5em 0;
	padding: 0 0 0.2em 0;
	text-shadow: #fff 1px 1px 0;
}

div.minievents a.minievent {
	border-bottom: 1px dotted #91b0b3;
	clear: both;
	padding: 0.5em 0.3em;
	text-decoration: none;
}

div.minievents a.minievent span.numlikes {
	background: #fff url(../images/bg_smallcount.png) left bottom repeat-x;
	border: 1px solid #91b0b3;
	color: #3f4445;
	display: block;
	float: left;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, "Liberation Sans", sans-serif;
	font-size: 16px;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
	margin: 0 8px 0 0;
	text-align: center;
	text-decoration: none;
	width: 40px;
}

div.minievents a.minievent span.title {
	font-size: 1.4em;
	line-height: 1.3em;
}


/* ============== */
/* ! Pagination   */
/* ============== */

div.pagination {
	margin: 0 auto 2em;
	padding: 2em 0;
}

div.pagination ul {
	float: right;
}

div.pagination ul li {
	float: left;
	margin: 0 0.2em;
}

div.pagination ul li a {
	border: 1px solid #de702b;
	display: block;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, "Liberation Sans", sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0.4em 0.5em;
	text-decoration: none;
}

div.pagination ul li a:hover {
	background: #333;
	color: #fff;
}

div.pagination ul li span {
	color: #333;
	display: block;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, "Liberation Sans", sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0.4em 0.5em;
}

div.pagination ul li span.current {
	background: #de702b;
	border: 1px solid #de702b;
	color: #fff;
	display: block;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, "Liberation Sans", sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0.4em 0.5em;
}


/* ================== */
/* ! Login & Signup   */
/* ================== */

form.modalform {
	width: 400px;
}

form.modalform ol {
	padding: 2em 2.5em 1em;
}

form.modalform ol li {
	margin: 0 auto;
	padding: 0.5em 0;
	width: 80%;
}

form.modalform ol li label {
	color: #3b2a1c;
	display: block;
	font-size: 1.5em;
	text-align: left;
}

form.modalform ol li input.textfield {
	background: #91b0b3;
	border: 1px inset #bbb;
	color: #3b2a1c;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, "Liberation Sans", sans-serif;
	font-size: 1.6em;
	font-weight: bold;
	display: block;
	padding: 0.2em;
	width: 100%;
}

form.modalform ol li span.formnote {
	font-size: 0.95em;
	margin: 0.3em 0 0 0;
}

form.modalform ol li span.fml {
	float: left;
}

form.modalform ol li span.fmr {
	float: right;
}

form.modalform button.btn-submit {
	background-image: -moz-linear-gradient(top,#7b573a,#3b2a1c);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7b573a), to(#3b2a1c));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7b573a,endColorstr=#ff3b2a1c);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7b573a,endColorstr=#ff3b2a1c)";
	background-color: #3b2a1c;
	border: 2px solid #7b573a;
	clear: both;
	color: #fff;
	display: block;
	font-size: 1.6em;
	margin: 1.3em auto 0.6em;
	padding: 0.3em 1.1em;
	text-align: center;
	text-shadow: -1px -1px 0 #000;
}

form.modalform button.btn-submit:hover {
	background-image: -moz-linear-gradient(top,#3b2a1c,#7b573a);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3b2a1c), to(#7b573a));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff3b2a1c,endColorstr=#ff7b573a);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff3b2a1c,endColorstr=#ff7b573a)";
	background-color: #7b573a;
	cursor: pointer;
}

form.modalform button.btn-submit:active {
	background: #000;
	border-color: #666;
}

form.fullform {
	width: 600px;
}

div.submitform {
	width: 800px;
}

form.fullform ol {
	padding: 0em 2.5em 1em;
}

form.fullform ol li {
	margin: 0 auto;
	padding: 0.5em 0;
	width: 480px;
}

div.submitform form.fullform ol li {
	width: 680px;
}

form.fullform ol li label {
	color: #3b2a1c;
	font-size: 1.5em;
	text-align: right;
	float: left;
	width: 200px;
}

div.submitform form.fullform ol li label {
	width: 150px;
}

form.fullform ol li input.textfield {
	background: #91b0b3;
	border: 1px inset #bbb;
	color: #3b2a1c;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, "Liberation Sans", sans-serif;
	font-size: 1.6em;
	font-weight: bold;
	padding: 0.2em;
	width: 270px;
}

div.submitform form.fullform ol li input.textfield {
	width: 500px;
}

div.submitform form.fullform ol li input.textfield.time {
	width: 300px;
}

div.submitform form.fullform ol li select.textfield {
	width: 500px;
}

form.fullform ol li textarea.textfield {
	background: #91b0b3;
	border: 1px inset #bbb;
	color: #3b2a1c;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, "Liberation Sans", sans-serif;
	font-size: 1.6em;
	font-weight: bold;
	padding: 0.2em;
	width: 270px;
}

div.submitform form.fullform ol li textarea.textfield {
	width: 500px;
}

form.fullform p.column {
   line-height: 1.9em;
   float: left;
}

form.fullform ol li span.formnote {
	float: right;
	font-size: 0.95em;
	margin: 0.3em 0 0 0;
}

form.fullform button.btn-submit {
	background-image: -moz-linear-gradient(top,#7b573a,#3b2a1c);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7b573a), to(#3b2a1c));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7b573a,endColorstr=#ff3b2a1c);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7b573a,endColorstr=#ff3b2a1c)";
	background-color: #3b2a1c;
	border: 2px solid #7b573a;
	clear: both;
	color: #fff;
	display: block;
	font-size: 1.6em;
	margin: 1.3em auto 0.6em;
	padding: 0.3em 1.1em;
	text-align: center;
	text-shadow: -1px -1px 0 #000;
}

form.fullform button.btn-submit:hover {
	background-image: -moz-linear-gradient(top,#3b2a1c,#7b573a);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3b2a1c), to(#7b573a));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff3b2a1c,endColorstr=#ff7b573a);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff3b2a1c,endColorstr=#ff7b573a)";
	background-color: #7b573a;
	cursor: pointer;
}

form.fullform button.btn-submit:active {
	background: #000;
	border-color: #666;
}

form.fullform input#date.textfield,
form.fullform input#zip.textfield {
	width: 10em !important;
}

form.fullform input#time.textfield {
	width: 6em !important;
}

form.fullform select#category.textfield,
form.fullform input#venuephone.textfield {
	width: 15em !important;
}

input.input_error {
	background-color: salmon !important;
}

.defaultvalue {
	color: lightblue !important;
}

.hidden {
	display: none;
}

div#eventmapwrapper {
   left: 100px;
}
div#map_canvas {
	width: 300px;
	height: 200px;
	float: right;
}

div#eventdetailswrapper {
	width: 630px;
	float: left;
	clear: right;
}

div#comment_container {
	font-size: 1.1em;
	line-height: 1.2em;
}

div#comment_container span.title {
	font-size: 1.2em;
	font-weight: bold;
}

div#comment_container div.comment {
	padding-bottom: 10px;
}

div#comment_container span.username {
	padding-left: 2px;
	font-weight: bold;
}

div#comment_container span.time {
	padding-left: 15px;
}

div#comment_container div.message {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

span.comment_footer {
	padding-left: 2px;
	padding-right: 8px;
	font-weight: bold;
}

span.comment_footer a, span.comment_footer a:visited {
	color: #DE702B;
	text-decoration: none;
}

span.errormsg {
	color: red;
	font-weight: bold;
	font-size: 14px;
	margin-left: 20px;
}

span.message {
	font-weight: bold;
	font-size: 14px;
	margin-left: 20px;
}

div#profile_details a#change_password {
	font-size: 14px;
}

div.likes {
	width: 16px;
	line-height: 16px;
	height: 16px;
}
